<%= form_for @service do |f| %>
	<% if @service.errors.any? %>
		<div class="error_explanation">
			<h2><%= pluralize(@service.errors.count, "erro") %> impediu este serviço de ser guardado</h2>
			<ul>
				<% for message in @service.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<fieldset>
		<%= f.label :nome %>
		<%= f.text_field :nome %>
	</fieldset>
	<div class="actions">
		<%= f.submit "Guardar", class: 'btn btn-success' %>
		<%= link_to "Cancelar", service_path(@service), class: 'btn' %>
	</div>
<% end %>