<table class="table .table-condensed">
	<thead>
		<tr>
			<th>Assunto</th>
			<th>Local destino</th>
			<th>Data partida</th>
			<th>Validação</th>
		</tr>
	</thead>
	<tbody>
		<% @user.reqpeople.each do |reqperson| %>
			<% case reqperson.estado %>
				<% when 1 %>
					<% estado = "Aprovado" %>
					<% status = "success" %>
				<% when 2 %>
					<% estado = "Recusado" %>
					<% status = "error" %>
				<% else %>
					<% estado = "Pendente" %>
					<% status = "" %>
			<% end %>
			<tr class=<%= status %>>
				<td><%= link_to reqperson.assunto, user_reqperson_path(@user, reqperson) %></td>
				<td><%= reqperson.local_destino %></td>
				<td><%= reqperson.data_partida %></td>
				<td><%= estado %></td>
			</tr>
		<% end %>
	</tbody>
</table>