<% provide(:title, @user.nome) %>

<h1><%= @user.nome %></h1>
<div class="span6 offset3">
	<%= form_for @user do |f| %>
		<% if @user.errors.any? %>
			<div class="error_explanation">
				<h2><%= pluralize(@user.errors.count, "erro") %> impediram este utilizador de ser guardado</h2>
				<ul>
					<% for message in @user.errors.full_messages %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<fieldset>
			<%= f.label :nome %>
			<%= f.text_field :nome %>
			<%= f.label :numero_mecanografico %>
			<%= f.text_field :numero_mecanografico %>
			<%= f.label :email %>
			<%= f.text_field :email %>
			<%= f.label :contacto %>
			<%= f.text_field :contacto %>
			<%= f.label :password %>
			<%= f.password_field :password %>
			<%= f.label :password_confirmation, "Confirme password" %>
			<%= f.password_field :password_confirmation %>
		</fieldset>
		<% if current_user.admin %>
			<div class="well">
				<%= f.label :auth, "Autorizado", class: 'checkbox inline' %>
				<%= f.check_box :auth %>
				<%= f.label :admin, "Administração", class: 'checkbox inline' %>
				<%= f.check_box :admin %>
			</div>
		<% end %>
		<div class="actions">
			<%= f.submit "Guardar", class: 'btn btn-success' %>
			<%= link_to "Cancelar", users_path, class: 'btn' %>
		</div>
	<% end %>
</div>