<% provide(:title, "Utilizadores") %>

<h1>Utilizadores</h1>
<div class="span8 offset2">
	<%= link_to "Novo utilizador", new_user_path, class: 'btn btn-primary' %>
	<%= will_paginate %>
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>N. mecanográfico</th>
				<th>E-mail</th>
				<th>Validado?</th>
				<th>Administrador?</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= link_to user.nome, user_path(user), class: 'btn btn-link' %></td>
					<td><%= user.numero_mecanografico %></td>
					<td><%= user.email %></td>
					<td><%= user.auth %></td>
					<td><%= user.admin %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate %>
</div>