<% provide(:title, @user.nome) %>

<h1><%= @user.nome %></h1>
<div class="span10 offset1 tabs">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tabs-1" data-target="#tabs-1" data-toggle="tab">Dados do utilizador</a></li>
		<li><a href="#tabs-2" data-target="#tabs-2" data-toggle="tab">Requisições de transporte de material</a></li>
		<li><a href="#tabs-3" data-target="#tabs-3" data-toggle="tab">Requisições de transporte de pessoal</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active fade in" id="tabs-1">
			<dl class="dl-horizontal">
				<dt>N. mecanográfico</dt>
				<dd><%= @user.numero_mecanografico %></dd>
				<dt>E-mail</dt>
				<dd><%= @user.email %></dd>
				<dt>Contacto</dt>
				<dd><%= @user.contacto %>&nbsp;</dd>
				<dt>Serviço</dt>
				<dd><%= link_to @user.service.nome, reqs_by_boss_path %></dd>
				<dt>Unidade</dt>
				<dd><%= @user.ulsneunit.nome %></dd>
			</dl>
			<%= link_to "Editar", edit_user_path(@user), class: 'btn' %>
			<% if current_user.admin %>
				<%= link_to "Voltar", users_path, class: 'btn' %>
			<% end %>
		</div>
		<div class="tab-pane" id="tabs-2">
			<%= render 'reqmaterials/index' %>
		</div>
		<div class="tab-pane" id="tabs-3">
			<%= render 'reqpeople/index' %>
		</div>
	</div>
</div>
