<% provide(:title, @user.nome) %>

<h1><%= link_to @user.nome, edit_user_path(@user) %></h1>
<div class="span3 well">
	<dl>
		<dt>N. mecanográfico</dt>
		<dd><%= @user.numero_mecanografico %></dd>
		<dt>E-mail</dt>
		<dd><%= @user.email %></dd>
		<dt>Contacto</dt>
		<dd><%= @user.contacto %></dd>
		<dt>Serviço</dt>
		<dd><%= @user.service.nome %></dd>
		<dt>Unidade</dt>
		<dd><%= @user.ulsneunit.nome %></dd>
	</dl>
	<% if current_user.admin %>
		<%= link_to "Voltar", users_path, class: 'btn btn-link' %>
	<% end %>
</div>
<div class="span8 well">
	<ul>
		<li>Show req. made</li>
	</ul>
</div>