<% provide(:title, @reqmaterial.assunto) %>
<% case @reqmaterial.estado %>
	<% when 1 %>
		<% estado = "Aprovado" %>
	<% when 2 %>
		<% estado = "Recusado" %>
	<% else %>
		<% estado = "Pendente" %>
<% end %>

<h1>Transporte de material: <%= @reqmaterial.assunto %></h1>
<div class="span6 offset3">
	<dl class="dl-horizontal">
		<dt>Requisitante</dt>
		<dd><%= @reqmaterial.user.nome %></dd>
		<dt>Serviço</dt>
		<dd><%= @reqmaterial.user.service.nome %></dd>
		<dt>Local de partida</dt>
		<dd><%= @reqmaterial.local_partida %></dd>
		<dt>Local de entrega</dt>
		<dd><%= @reqmaterial.local_entrega %></dd>
		<dt>Data de entrega</dt>
		<dd><%= @reqmaterial.data_entrega %></dd>
		<dt>Urgente?</dt>
		<dd><%= @reqmaterial.urgente %></dd>
		<dt>Observações</dt>
		<dd><%= @reqmaterial.observacoes %>&nbsp;</dd>
		<dt>Estado</dt>
		<dd><%= estado %>&nbsp;</dd>
		<dt>Comentário</dt>
		<dd><%= @reqmaterial.comentario %>&nbsp;</dd>
	</dl>
	<%= link_to "Editar", edit_user_reqmaterial_path(@user, @reqmaterial), class: 'btn btn-primary' %>
	<%= link_to "Cancelar", @user, class: 'btn' %>
</div>
