<%= form_for @destination do |f| %>
	<% if @destination.errors.any? %>
		<div class="error_explanation">
			<h2>O formulário contém <%= pluralize(@destination.errors.count, "erro") %></h2>
			<ul>
				<% for message in @destination.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<fieldset>
		<%= f.label :destino %>
		<%= f.text_field :destino %>
	</fieldset>
	<div class="actions">
		<%= f.submit "Guardar", class: 'btn btn-success' %>
		<%= link_to "Cancelar", destinations_path, class: 'btn' %>
	</div>
<% end %>