<% provide(:title, "Requisições do Serviço") %>

<h1>Requisições de <%= @service.nome %></h1>
<div class="span12">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Funcionário</th>
				<th>Material</th>
				<th>Pessoal</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.nome %></td>
					<td>
						<table class="table table-condensed">
							<tbody>
								<% user.reqmaterials.each do |reqmaterial| %>
									<% case reqmaterial.estado %>
										<% when 1 %>
											<% status = "success" %>
										<% when 2 %>
											<% status = "error" %>
										<% else %>
											<% status = "" %>
									<% end %>
									<tr class=<%= status %>>
										<td><%= reqmaterial.assunto %></td>
										<td><%= reqmaterial.data_entrega %></td>
										<td><%= reqmaterial.local_entrega %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</td>
					<td>
						<table class="table table-condensed">
							<tbody>
								<% user.reqpeople.each do |reqperson| %>
									<% case reqperson.estado %>
										<% when 1 %>
											<% status = "success" %>
										<% when 2 %>
											<% status = "error" %>
										<% else %>
											<% status = "" %>
									<% end %>
									<tr class=<%= status %>>
										<td><%= reqperson.assunto %></td>
										<td><%= reqperson.data_partida %></td>
										<td><%= reqperson.local_destino %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>