<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="brand">
			Requisição de transporte<% if current_user %>&nbsp;|&nbsp;<%= current_user.nome %><% end %>
		</div>
		<ul class="nav pull-right">
			<% if current_user %>
				<li><%= link_to "Início", root_path %></li>
				<li><%= link_to "Novo transporte de material", new_user_reqmaterial_path(current_user) %></li>
				<li><%= link_to "Nova deslocação de pessoal", new_user_reqperson_path(current_user) %></li>
				<% if current_user.admin %>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Definições<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Destinos", destinations_path %></li>
							<li><%= link_to "Serviços", services_path %></li>
							<li><%= link_to "Unidades", ulsneunits_path %></li>
							<li><%= link_to "Utilizadores", users_path %></li>
						</ul>
					</li>
				<% end %>
				<li><%= link_to "Sair", logout_path %></li>
			<% end %>
		</ul>

	</div>
</header>